* {
    margin: 0%;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #561C24;
    color: white;
    font-family: "poppins", serif;
}

h1 {
    color: #FFD166;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}





nav {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    height: 80px;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    background-color: #C7B7A3;
    border-radius: 15px;
    width: 90px;
    margin: 0 5px;
}

.nav-list li {
    color: black;
}

.nav-list-left {
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid white;
    border-radius: 25px;
}

.nav-list-left p {
    font-size: 1.5rem;
    color: white;
    margin: 5px 20px;
}

a {
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}

nav li:hover {
    transition: all 0.5s ease;
    color: #381015;
}

section {
    scroll-margin-top: 80px;
}

.firstSection {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.leftSection,
.rightSection {
    height: inherit;
    width: 100%;
}

.Piyush {
    font-size: 4rem;
}

.web-dev {
    font-size: 1.723rem;
}

/* .des {
    font-size: 1.5rem;
    color: #FFD166;
} */

.introdiv {
    display: flex;
    justify-content: center;
    width: 680px;
    margin: 190px 100px;

    animation: scrollUp 0.8s ease-out;
}

@keyframes scrollUp {
    from {
        transform: translateY(80px);
    }

    to {
        transform: translateY(0);
    }
}

.name {
    color: #FFD166;
    font-weight: 500;
}

.intro-btn {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin: 20px 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #C7B7A3;
    border-radius: 12px;
    padding: 5px 12px;
    text-align: center;
    color: black;
    height: 20px;
    font-size: 1.1rem;
}

.btn img {
    height: 20px;
}

.btn:hover {
    transition: all 0.5s ease;
    background-color: #928371;
}

.btn:hover {
    transition: all 0.5s ease;
    background-color: #928371;
}

.resume:active {
    transition: all 0.15s ease;
    transform: scale(0.97);
}


.get-in-touch:active {
    transition: all 0.15s ease;
    transform: scale(0.97);
}

.svgs {
    height: 10px;
}

.chr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chr_img {
    height: 620px;
    animation: scrollUp 0.8s ease-out;
}

@keyframes scrollUp {
    from {
        transform: translateY(80px);
    }

    to {
        transform: translateY(0);
    }
}


/* Second Section */

.mh {
    border: 0;
    background-color: white;
    height: 1.2px;
    margin: 20px 70px;
}


.secondSection {
    max-width: 90vw;
    height: 740px;
    margin: auto;
}

.topsec {
    background-color: #6D2932;
    border-radius: 30px;
    padding: 10px 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
    margin-top: 35px;
}

.about-me-para {
    margin: 10px 0;
    font-size: 1.2rem;
}

.bottomsec {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

/* Education */

.edu1 {
    margin: 20px 0;
}

.edu2 {
    margin: 20px 0;
}

.edu3 {
    margin: 20px 0;
}

.eh {
    margin: 20px 0;
}

.education,
.skills {
    background-color: #6D2932;
    border-radius: 30px;
    padding: 10px 30px;
}

.btech {
    display: flex;
    justify-content: space-between;
}

.Hsecondary {
    display: flex;
    justify-content: space-between;
}

.Secondary {
    display: flex;
    justify-content: space-between;
}

/* Skills */

.education {
    width: 735px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);

}

.skills {
    width: 490px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}




.c-language,
.Html,
.CSS,
.vs-code,
.github,
.javascript,
.sql,
.mysql {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
}

.lan-div,
.tool-div,
.current-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px 0;
}

.clang-icon {
    height: 50px;
}

.skill-icon {
    width: 50px;
    height: 50px;
}

.Languages,
.Tools,
.Currently-learning {
    margin: 10px 0;
}


/* Third Section */

.thirdsection {
    max-width: 90vw;
    height: 700px;
    margin: auto;
}

.service-box {
    max-width: inherit;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.website-development,
.ui-design,
.bug-fixing,
.website-optimization {
    border-radius: 30px;
    background-color: #6D2932;
    height: 320px;
    width: 250px;
    padding: 15px 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.points {
    margin-top: 20px;
    margin-left: 10px;
}

.points li {
    margin: 10px 0;
}

.number {
    opacity: 5%;
    font-size: 6rem;
    font-weight: bold;
    position: relative;
    top: -82px;
    left: 211px;
    width: fit-content;
}

.number1 {
    opacity: 5%;
    font-size: 6rem;
    font-weight: bold;
    position: relative;
    top: -82px;
    left: 227px;
    width: fit-content;
}

.how-i-work {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.how-i-work hr {
    margin: 20px auto;
    width: 300px;
}

/* Fourth section */


.fourthsection {
    max-width: 90vw;
    height: 600px;
    margin: auto;
}

.project {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: inherit;
    margin: 30px;
}

.e-library {
    justify-content: center;
    text-align: left;
    align-items: center;
    background-color: #6D2932;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.e-library img {
    height: 181px;
}

.e-library p {
    margin: 10px auto;
}

.portfolio {
    justify-content: center;
    text-align: left;
    align-items: center;
    background-color: #6D2932;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.portfolio img {
    height: 181px;
}

.portfolio p {
    margin: 10px auto;
}

.pro-des {
    margin: 10px 0;
}

/* Footer */

footer {
    background-color: #3A1218;
}

.contact {
    display: flex;
    flex-direction: column;
}

.topfoot {
    display: flex;
    justify-content: space-between;
    margin: 28px 50px;
}

.slogan,
.notice {
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 35px;
    font-weight: 600;
    color: #FFD166;
}

.bottomfoot {
    display: flex;
    height: 500px;
}

.copyright {
    text-align: center;
    font-size: 0.8rem;
    margin: 5px 0;
}

.footer-h {
    height: 1px;
    margin: 0 30px;
    background-color: white;
    border: 0;
}